#define CONFIG_PDL_LDSCRIPT "arch/$(ARCH)/cpu/u-boot-pdl.lds"
#define CONFIG_QUA_LOGO_PART 1
#define CONFIG_CMD_FAT 1
#define CONFIG_CMD_SOURCE 1
#define CONFIG_MC_SPI_NFC_NAND 1
#define CONFIG_PHY_REALTEK 1
#define CONFIG_MOL_DCACHE_OFF 1
#define CONFIG_BOOTM_NETBSD 1
#define CONFIG_BOARD_EARLY_INIT_F 1
#define CONFIG_LZO 1
#define CONFIG_PRG_BOOT_STAGE_PLUSIN 1
#define CONFIG_BOOTM_VXWORKS 1
#define CONFIG_SPL_NAND_SUPPORT 1
#define CONFIG_SYS_MAX_NAND_DEVICE CONFIG_SPI_NAND_MAX_CHIP_NUM
#define CONFIG_MISC 1
#define CONFIG_CMD_CRC32 1
#define CONFIG_IS_MODULE(option) config_enabled(CONFIG_VAL(option ##_MODULE))
#define CONFIG_SDL 1
#define CONFIG_SYS_LOAD_ADDR (V2M_BASE + 0x01600000)
#define CONFIG_HASH 1
#define CONFIG_USE_ARCH_MEMSET 1
#define CONFIG_CMD_CACHE 1
#define CONFIG_EXPERT 1
#define CONFIG_MOLCHIP 1
#define CONFIG_CMDLINE 1
#define CONFIG_MMC_DW 1
#define CONFIG_SYS_HELP_CMD_WIDTH 8
#define CONFIG_NR_DRAM_BANKS 1
#define CONFIG_FS_FAT 1
#define CONFIG_BOOTM_RTEMS 1
#define CONFIG_SYS_CBSIZE 512
#define CONFIG_CMD_LINK_LOCAL 1
#define CONFIG_DEFAULT_FDT_FILE ""
#define CONFIG_CREATE_ARCH_SYMLINK 1
#define CONFIG_FH_UART 
#define CONFIG_BLK 1
#define CONFIG_SYS_CPU "armv7"
#define CONFIG_INIT_PINDRIVING 1
#define CONFIG_BOOTP_PXE_CLIENTARCH 0x15
#define CONFIG_SYS_CACHELINE_SIZE 64
#define CONFIG_CMD_DATE 1
#define CONFIG_MMC 1
#define CONFIG_DM_ETH 1
#define CONFIG_MTD_PARTITIONS 
#define CONFIG_CMD_UBI 1
#define CONFIG_DM_PWM 1
#define CONFIG_MTD 1
#define CONFIG_QUA_LOGO_MIPI_JD9365D 1
#define CONFIG_CMD_CDP 1
#define CONFIG_ENV_OFFSET 0x20000
#define CONFIG_CMD_TFTPSRV 1
#define CONFIG_DM_DEVICE_REMOVE 1
#define CONFIG_USB_MAX_CONTROLLER_COUNT 2
#define CONFIG_QUA_LCM_2ND_SCR 1
#define CONFIG_CMD_NET 1
#define CONFIG_CMD_LZMADEC 1
#define CONFIG_CMD_NFS 1
#define CONFIG_NET_TFTP_VARS 1
#define CONFIG_SPL_SYS_THUMB_BUILD 1
#define CONFIG_ENV_SIZE FLASH_MAX_SECTOR_SIZE
#define CONFIG_OTA_SCRIPT_CMD 1
#define CONFIG_PWM_MOLCHIP 1
#define CONFIG_SUPPORT_RAW_INITRD 
#define CONFIG_CMD_PING 1
#define CONFIG_PHY_MOLCHIP 1
#define CONFIG_SYS_MALLOC_LEN (CONFIG_ENV_SIZE + 1024 * 1024)
#define CONFIG_LED_INDICATOR_FOR_FLASH 1
#define CONFIG_SYS_TIMER_RATE 1000
#define CONFIG_SYS_PBSIZE (CONFIG_SYS_CBSIZE + sizeof(CONFIG_SYS_PROMPT) + 16)
#define CONFIG_LOCALVERSION ""
#define CONFIG_SYS_TEXT_BASE 0x41600000
#define CONFIG_CC_OPTIMIZE_FOR_SIZE 1
#define CONFIG_SYS_CONFIG_NAME "lt00"
#define CONFIG_MOLCHIP_AES 1
#define CONFIG_BOOTSTAGE_RECORD_COUNT 30
#define CONFIG_CMD_SAVEENV 1
#define CONFIG_MOLCHIP_FASTBOOT 1
#define CONFIG_HAS_VBAR 1
#define CONFIG_ENV_SECT_SIZE 0x10000
#define CONFIG_BOOTM_PLAN9 1
#define CONFIG_IS_BUILTIN(option) config_enabled(CONFIG_VAL(option))
#define CONFIG_SPL_TEXT_BASE 0x27000400
#define CONFIG_RTC_MOLCHIP_V1 1
#define CONFIG_USB_PHY 1
#define CONFIG_PDL_TEXT_BASE 0x27000800
#define CONFIG_SERIAL_PRESENT 1
#define CONFIG_SUPPORT_SDL 1
#define CONFIG_DM_MMC 1
#define CONFIG_SCRIPT_CMD 1
#define CONFIG_CMD_NAND 1
#define CONFIG_BOOTM_LINUX 1
#define CONFIG_LZMA 1
#define CONFIG_TPL_SYS_MALLOC_F_LEN 0x400
#define CONFIG_USE_BOOTARGS 1
#define CONFIG_BOOTARGS "loglevel=4 ubi.mtd=7 ubi.mtd=9 ubi.mtd=11 ubi.mtd=12 root=ubi2:rootfs init=/init rootfstype=ubifs mem=28M earlycon console=ttyS0,115200 mtdparts=spi_nfc:32k@0(boot-spl),128k@128k(boot-env),768k@256k(boot-uboot),1m@1m(logo),1m@2m(padding),1m@3m(misc),3m@4m(recovery),10m@7m(recovery-rootfs),4m@17m(boot),18m@21m(system),6m@39m(swapfile),6m@45m(rootfs),-@51m(data)"
#define CONFIG_DM_DEV_READ_INLINE 1
#define CONFIG_USB_MOLCHIP_DWC2 1
#define CONFIG_DM_WARN 1
#define CONFIG_SYS_CACHE_SHIFT_6 1
#define CONFIG_CMD_MEMORY 1
#define CONFIG_SYS_MAXARGS 32
#define CONFIG_CMD_FDT 1
#define CONFIG_SPL_MTD_SUPPORT 1
#define CONFIG_SUPPORT_SPL 1
#define CONFIG_CMD_RUN 1
#define CONFIG_ENV_VARS_UBOOT_CONFIG 
#define CONFIG_USB 1
#define CONFIG_BOARDDIR board/molchip
#define CONFIG_SPL_LEGACY_IMAGE_SUPPORT 1
#define CONFIG_CMD_TFTPPUT 1
#define CONFIG_UBOOT_ESL 1
#define CONFIG_NET 1
#define CONFIG_CPU_V7 1
#define CONFIG_OF_LIBFDT 1
#define CONFIG_SPL_STACK 0x2700B000
#define CONFIG_SYS_MAX_FLASH_SECT 512
#define CONFIG_PHYLIB 1
#define CONFIG_SDL_TEXT_BASE 0x40000400
#define CONFIG_CMD_USB 1
#define CONFIG_SDL_NAND_SUPPORT 1
#define CONFIG_ARM_ASM_UNIFIED 1
#define CONFIG_DM_SERIAL 1
#define CONFIG_WRITE_SN 1
#define CONFIG_BOOTCOMMAND MY_STR_BOOTIMAGE
#define CONFIG_ARCH_FIXUP_FDT_MEMORY 1
#define CONFIG_SPL_USE_ARCH_MEMSET 1
#define CONFIG_SYS_MALLOC_CLEAR_ON_INIT 1
#define CONFIG_CRC32_VERIFY 1
#define CONFIG_SYS_EXTRA_OPTIONS ""
#define CONFIG_SYS_NAND_MAX_CHIPS CONFIG_SPI_NAND_MAX_CHIP_NUM
#define CONFIG_CMD_DM 1
#define CONFIG_BOOTP_VCI_STRING "U-Boot.armv7"
#define CONFIG_DM 1
#define CONFIG_ZLIB 1
#define CONFIG_GMAC_MOLCHIP 1
#define CONFIG_FLASH_FW_ON_KEY_PRESS 1
#define CONFIG_LIB_UUID 
#define CONFIG_QUA_LOGO 1
#define CONFIG_CMD_GO 1
#define CONFIG_ADAPTIVE_MEMORY_SUPPORT 1
#define CONFIG_USB_HOST 1
#define CONFIG_HAVE_PRIVATE_LIBGCC 1
#define CONFIG_CMD_BOOTM 1
#define CONFIG_CMD_BOOTZ 1
#define CONFIG_SYS_MALLOC_F 1
#define CONFIG_CMD_DNS 1
#define CONFIG_AUTO_COMPLETE 
#define CONFIG_SYS_NONCACHED_MEMORY (1 << 20)
#define CONFIG_SYS_SOC "molchip"
#define CONFIG_SYS_HZ 1000
#define CONFIG_SYS_MALLOC_F_LEN 0x8000
#define CONFIG_MC_SFC_FLASH 1
#define CONFIG_DOS_PARTITION 1
#define CONFIG_GZIP 1
#define CONFIG_DM_USB 1
#define CONFIG_CMD_SF 1
#define CONFIG_BOOTSTAGE_USER_COUNT 20
#define CONFIG_MOLCHIP_SPI 1
#define CONFIG_REQUIRE_SERIAL_CONSOLE 1
#define CONFIG_SYS_NAND_SELF_INIT 1
#define CONFIG_IDENT_STRING ""
#define CONFIG_MTDIDS_DEFAULT "nand0=spi_nfc"
#define CONFIG_SUPPORT_OF_CONTROL 1
#define CONFIG_ARCH_ARMV7 1
#define CONFIG_SYS_BAUDRATE_TABLE { 9600, 19200, 38400, 57600, 115200 }
#define CONFIG_ETH_DESIGNWARE 1
#define CONFIG_VAL(option) config_val(option)
#define CONFIG_DM_STDIO 1
#define CONFIG_LOCALVERSION_AUTO 1
#define CONFIG_ARCH_MOLCHIP 1
#define CONFIG_SYS_SDRAM_BASE PHYS_SDRAM_1
#define CONFIG_IMAGE_FORMAT_LEGACY 
#define CONFIG_USB_FLASH 1
#define CONFIG_SYS_TIMER_COUNTER (V2M_TIMER01 + 0x4)
#define CONFIG_SUPPORT_USB2 1
#define CONFIG_SPL_LDSCRIPT "arch/$(ARCH)/cpu/u-boot-spl.lds"
#define CONFIG_SPL_SYS_MALLOC_F_LEN 0x400
#define CONFIG_USE_PRIVATE_LIBGCC 1
#define CONFIG_CMD_DHCP 1
#define CONFIG_ENV_IS_IN_NAND 1
#define CONFIG_CMD_BLINKLED 1
#define CONFIG_CMD_ECHO 1
#define CONFIG_RTT_BOOT_STAGE_PLUSIN 1
#define CONFIG_CMD_ETHSW 1
#define CONFIG_USE_ARCH_MEMCPY 1
#define CONFIG_FDT_FIXUP_PARTITIONS 1
#define CONFIG_SPL_PAD_TO 0x8000
#define CONFIG_OF_CONTROL 1
#define CONFIG_BOOTP_PXE 
#define CONFIG_MTD_UBI 1
#define CONFIG_HAS_THUMB2 1
#define CONFIG_SYS_INIT_SP_ADDR (CONFIG_SYS_LOAD_ADDR - GENERATED_GBL_DATA_SIZE)
#define CONFIG_SYS_LONGHELP 
#define CONFIG_CMD_SNTP 1
#define CONFIG_MOLCHIP_DMA 1
#define CONFIG_SYS_ARCH "arm"
#define CONFIG_MTD_UBI_WL_THRESHOLD 4096
#define CONFIG_SYS_BOARD "molchip"
#define CONFIG_MTDPARTS_DEFAULT "mtdparts=spi_nfc:128k(boot-spl),128k(boot-env),768k(boot-uboot),1m(logo),1m(padding),1m(misc),3m(recovery),10m(recovery-rootfs),4m(boot),18m(system),6m(swapfile),6m(rootfs),77m(data)"
#define CONFIG_DM_RTC 1
#define CONFIG_SYS_ARM_ARCH 7
#define CONFIG_SPL_USE_ARCH_MEMCPY 1
#define CONFIG_NET_RANDOM_ETHADDR 1
#define CONFIG_BOOTSTAGE_STASH_SIZE 0x1000
#define CONFIG_MTD_UBI_BEB_LIMIT 20
#define CONFIG_LED_INDICATOR_GPIO 39
#define CONFIG_CMD_IMPORTENV 1
#define CONFIG_SYS_BOOT_RAMDISK_HIGH 
#define CONFIG_CMD_EXPORTENV 1
#define CONFIG_PARTITIONS 1
#define CONFIG_SPL_DOS_PARTITION 1
#define CONFIG_OF_TRANSLATE 1
#define CONFIG_CMD_UBIFS 1
#define CONFIG_QUA_LOGO_MIPI_JD9365D_PWR_CTRL 1
#define CONFIG_CMD_ELF 1
#define CONFIG_CMD_RARP 1
#define CONFIG_BOOTDELAY 0
#define CONFIG_NAND 1
#define CONFIG_SYS_DEF_EEPROM_ADDR 0
#define CONFIG_DM_SEQ_ALIAS 1
#define CONFIG_PDL_STACK 0x27008000
#define CONFIG_BOOTSTAGE_STASH_ADDR 0x0
#define CONFIG_SPL 1
#define CONFIG_MTD_DEVICE 
#define CONFIG_MMC_SDMMC_MC 1
#define CONFIG_SYS_PROMPT "uboot#"
#define CONFIG_FAT_WRITE 1
#define CONFIG_BOOTP_BOOTPATH 
#define CONFIG_USB_STORAGE 1
#define CONFIG_CMD_PXE 1
#define CONFIG_TARGET_LT00 1
#define CONFIG_BAUDRATE 115200
#define CONFIG_FS_FAT_MAX_CLUSTSIZE 65536
#define CONFIG_CMD_IMI 1
#define CONFIG_CONS_INDEX 0
#define CONFIG_LMB 
#define CONFIG_AUTOBOOT 1
#define CONFIG_ARM 1
#define CONFIG_RBTREE 1
#define CONFIG_BOOT_RAM_SIZE 0x2000000
#define CONFIG_NETCONSOLE 1
#define CONFIG_SPI_NAND_MAX_CHIP_NUM 1
#define CONFIG_CMD_MTDPARTS 1
#define CONFIG_IS_ENABLED(option) (config_enabled(CONFIG_VAL(option)) || config_enabled(CONFIG_VAL(option ##_MODULE)))
#define CONFIG_SPI_BOOT 1
#define CONFIG_OF_SEPARATE 1
#define CONFIG_CMD_GPIO 1
#define CONFIG_CMD_BDI 1
#define CONFIG_MOLCHIP_GPIO 1
#define CONFIG_MENU 1
#define CONFIG_NETDEVICES 1
#define CONFIG_DEFAULT_DEVICE_TREE "molchip-v2p-ca7s-lt00"
#define CONFIG_PDL 1
#define CONFIG_MOLCHIP_EFUSE 1
#define CONFIG_SPL_RAW_IMAGE_SUPPORT 1
#define CONFIG_CMD_MII 1
#define CONFIG_LIB_RAND 1
#define CONFIG_SIMPLE_BUS 1
#define CONFIG_SDL_LDSCRIPT "arch/$(ARCH)/cpu/u-boot-sdl.lds"
#define CONFIG_CMD_MMC 1
#define CONFIG_INIT_GPIOS 1
#define CONFIG_SDL_STACK 0x41000000
