CONFIG_XOS_PROJECT_TYPE="esl2"
CONFIG_PRODUCT_ESL2=y
CONFIG_QM_VERSION="2.0.3"
CONFIG_QM_HW_VERSION="20"
CONFIG_PLATFORM_ID="ESL20D"
# CONFIG_DISABLE_UPDATE=y
CONFIG_TOOLCHAIN_ARM-LINUX-MOLV2=y
CONFIG_CHIPSET_QM10XD=y
CONFIG_CHIPSET_QM102D=y
CONFIG_OS_LINUX=y
CONFIG_UBOOT_DEFCONFIG="quaming_qm10xd_esl_defconfig"
CONFIG_KERNEL_DEFCONFIG="quaming_qm10xd_esl_defconfig"
CONFIG_KERNEL_VERSION="linux-5.10.y"
CONFIG_KERNEL_DTB="quaming-kernel-qm10xd-esl.dtb"
CONFIG_ROOTFS_BUSYBOX_CONFIG="busybox_quaming_config"
CONFIG_ROOTFS_BUSYBOX_VERSION="1.36.1"

CONFIG_XOS_WIFI_QUADRV="ea6x21qx"

CONFIG_XOS_BUILD_SDK="qm10xd_linux"
CONFIG_XOS_BUILD_BOARD="qm10xd"
CONFIG_XOS_SDK_NAME="qm10xd_sdk"
CONFIG_XOS_SDK_PATH="base/soc/qm10xd/linux"

# CONFIG_STORAGE_TYPE_SPINOR is not set
CONFIG_STORAGE_TYPE_SPINAND=y
CONFIG_STORAGE_SIZE_128MB=y

CONFIG_QM_SYS_PARTI_NAME_LIST="uboot recovery boot logo system rootfs data"
CONFIG_QM_SYS_PARTI_INFOFILE="partition-info.txt"
CONFIG_QM_SYS_PARTI_DEFAULT_FS_TYPE="ext4"

CONFIG_XOS_FWK_APPMANAGER=y
# CONFIG_XOS_USE_APP_LAUNCHER is not set
CONFIG_XOS_USE_INNER_RES=y
CONFIG_XOS_FWK_PARAM=y
CONFIG_XOS_FWK_EFFECTS=y
CONFIG_XOS_FWK_GUIENG_LVGL9=y
CONFIG_XOS_USE_TINY_TTF=y
# CONFIG_XOS_INN_QUANTP is not set
CONFIG_XOS_FWK_PLAYER=y
CONFIG_XOS_EXT_FFMPEG=y
# CONFIG_XOS_FWK_FLOATWINDOW is not set
CONFIG_XOS_FWK_FONT=y
# CONFIG_XOS_FWK_MENU is not set
CONFIG_XOS_EXT_CJSON=y
CONFIG_XOS_EXT_ZLIB=y
CONFIG_XOS_FWK_UTILITY=y
CONFIG_XOS_FWK_QMCORE=y
CONFIG_XOS_HW_QUAMMAPI=y
CONFIG_XOS_USE_FB_DIRECT=y
# CONFIG_XOS_FB_ROTATION is not set
CONFIG_XOS_LCM_800x1280=y
CONFIG_XOS_RES_800x1280=y
CONFIG_XOS_LCM_2ND_SCR=y
CONFIG_XOS_EXT_CURL=y
CONFIG_XOS_FWK_CADP_CURL=y
# CONFIG_XOS_USE_APP_NATIVE_ESL is not set
CONFIG_XOS_APP_ESL2=y
CONFIG_XOS_FWK_CADP_DSN=y
CONFIG_XOS_FWK_LOGO=y

CONFIG_XOS_FWK_CADP_QUA=y
CONFIG_XOS_FWK_CADP=y
CONFIG_XOS_EXT_OPENSSL=y
CONFIG_XOS_EXT_LIBPNG=y
CONFIG_XOS_EXT_JPEG=y
CONFIG_XOS_USE_DEBUG=y
CONFIG_XOS_HW_QUADRV_EXT=y
CONFIG_XOS_LVGL_MEM_CNT=y

# CONFIG_XOS_EXT_SPNG is not set

CONFIG_XOS_USE_HW_JPEG=y
