#define CONFIG_SYS_TIMER_COUNTS_DOWN 
#define CONFIG_BOOTM_NETBSD 1
#define CONFIG_CMD_FDT 1
#define CONFIG_BOOTM_VXWORKS 1
#define CONFIG_SPL_USE_ARCH_MEMSET 1
#define CONFIG_HAS_VBAR 1
#define CONFIG_CMD_CRC32 1
#define CONFIG_SYS_LONGHELP 
#define CONFIG_IS_MODULE(option) config_enabled(CONFIG_VAL(option ##_MODULE))
#define CONFIG_SYS_LOAD_ADDR (V2M_BASE + 0x8000)
#define CONFIG_HASH 1
#define CONFIG_USE_ARCH_MEMSET 1
#define CONFIG_EXPERT 1
#define CONFIG_MOLCHIP 1
#define CONFIG_CMDLINE 1
#define CONFIG_BOOTDELAY 0
#define CONFIG_SYS_HELP_CMD_WIDTH 8
#define CONFIG_NR_DRAM_BANKS 1
#define CONFIG_BOOTM_RTEMS 1
#define CONFIG_SYS_CBSIZE 256
#define CONFIG_ARMV7_LPAE 1
#define CONFIG_BOOTM_LINUX 1
#define CONFIG_DEFAULT_FDT_FILE ""
#define CONFIG_CREATE_ARCH_SYMLINK 1
#define CONFIG_SUPPORT_OF_CONTROL 1
#define CONFIG_FH_UART 
#define CONFIG_SYS_CPU "armv7"
#define CONFIG_SYS_CACHELINE_SIZE 64
#define CONFIG_MMC 1
#define CONFIG_SYS_GBL_DATA_OFFSET (CONFIG_SYS_SDRAM_BASE + CONFIG_SYS_INIT_RAM_SIZE - GENERATED_GBL_DATA_SIZE)
#define CONFIG_ENV_SIZE FLASH_MAX_SECTOR_SIZE
#define CONFIG_SUPPORT_RAW_INITRD 
#define CONFIG_SYS_MALLOC_LEN (CONFIG_ENV_SIZE + 128 * 1024)
#define CONFIG_SYS_TIMER_RATE 1000000
#define CONFIG_LOCALVERSION ""
#define CONFIG_SYS_TEXT_BASE 0x81600000
#define CONFIG_CC_OPTIMIZE_FOR_SIZE 1
#define CONFIG_SYS_CONFIG_NAME "molchip"
#define CONFIG_BOOTSTAGE_RECORD_COUNT 30
#define CONFIG_CMD_SAVEENV 1
#define CONFIG_BOOTM_PLAN9 1
#define CONFIG_IS_BUILTIN(option) config_enabled(CONFIG_VAL(option))
#define CONFIG_TARGET_MOLCHIP 1
#define CONFIG_DM_DEV_READ_INLINE 1
#define CONFIG_SYS_CACHE_SHIFT_6 1
#define CONFIG_CMD_MEMORY 1
#define CONFIG_SYS_MAXARGS 16
#define CONFIG_CMD_RUN 1
#define CONFIG_SYS_PBSIZE (CONFIG_SYS_CBSIZE + sizeof(CONFIG_SYS_PROMPT) + 16)
#define CONFIG_ENV_VARS_UBOOT_CONFIG 
#define CONFIG_BOARDDIR board/molchip
#define CONFIG_CPU_V7 1
#define CONFIG_OF_LIBFDT 1
#define CONFIG_SYS_MAX_FLASH_SECT 512
#define CONFIG_BOOTCOMMAND MY_STR_BOOTZIMAGE
#define CONFIG_ARCH_FIXUP_FDT_MEMORY 1
#define CONFIG_SYS_MALLOC_CLEAR_ON_INIT 1
#define CONFIG_SYS_EXTRA_OPTIONS ""
#define CONFIG_ZLIB 1
#define CONFIG_LIB_UUID 
#define CONFIG_CMD_GO 1
#define CONFIG_CMD_BOOTM 1
#define CONFIG_CMD_BOOTZ 1
#define CONFIG_AUTO_COMPLETE 
#define CONFIG_SYS_HZ 1000
#define CONFIG_GZIP 1
#define CONFIG_BOOTSTAGE_USER_COUNT 20
#define CONFIG_SYS_INIT_RAM_SIZE 0x1000
#define CONFIG_IDENT_STRING ""
#define CONFIG_SYS_BAUDRATE_TABLE { 9600, 19200, 38400, 57600, 115200 }
#define CONFIG_VAL(option) config_val(option)
#define CONFIG_LOCALVERSION_AUTO 1
#define CONFIG_ARCH_MOLCHIP 1
#define CONFIG_SYS_SDRAM_BASE PHYS_SDRAM_1
#define CONFIG_IMAGE_FORMAT_LEGACY 
#define CONFIG_SYS_BOOT_RAMDISK_HIGH 
#define CONFIG_SYS_TIMER_COUNTER (V2M_TIMER01 + 0x4)
#define CONFIG_USE_PRIVATE_LIBGCC 1
#define CONFIG_CMD_ECHO 1
#define CONFIG_USE_ARCH_MEMCPY 1
#define CONFIG_EXTRA_ENV_SETTINGS CONFIG_PLATFORM_ENV_SETTINGS BOOTENV "console=ttyAMA0,38400n8\0" "dram=1024M\0"
#define CONFIG_BOOTP_PXE 
#define CONFIG_HAS_THUMB2 1
#define CONFIG_SYS_INIT_SP_ADDR CONFIG_SYS_GBL_DATA_OFFSET
#define CONFIG_SYS_ARCH "arm"
#define CONFIG_BAUDRATE 115200
#define CONFIG_SYS_BOARD "molchip"
#define CONFIG_SYS_ARM_ARCH 7
#define CONFIG_SPL_USE_ARCH_MEMCPY 1
#define CONFIG_BOOTSTAGE_STASH_SIZE 0x1000
#define CONFIG_ENV_IS_NOWHERE 1
#define CONFIG_CMD_IMPORTENV 1
#define CONFIG_HAVE_PRIVATE_LIBGCC 1
#define CONFIG_CMD_EXPORTENV 1
#define CONFIG_PLATFORM_ENV_SETTINGS "loadaddr=0x80008000\0" "ramdisk_addr_r=0x61000000\0" "kernel_addr=0x44100000\0" "ramdisk_addr=0x44800000\0" "maxramdisk=0x1800000\0" "pxefile_addr_r=0x88000000\0" "scriptaddr=0x88000000\0" "kernel_addr_r=0x80008000\0"
#define CONFIG_CMD_ELF 1
#define CONFIG_SYS_DEF_EEPROM_ADDR 0
#define CONFIG_BOOTSTAGE_STASH_ADDR 0x0
#define CONFIG_CMD_SOURCE 1
#define CONFIG_SYS_PROMPT "uboot#"
#define CONFIG_BOOTP_BOOTPATH 
#define CONFIG_CMD_IMI 1
#define CONFIG_CONS_INDEX 0
#define CONFIG_LMB 
#define CONFIG_AUTOBOOT 1
#define CONFIG_ARM 1
#define CONFIG_IS_ENABLED(option) (config_enabled(CONFIG_VAL(option)) || config_enabled(CONFIG_VAL(option ##_MODULE)))
#define CONFIG_CMD_BDI 1
#define CONFIG_ARM_ASM_UNIFIED 1
